body {
    font-family: sans-serif;
    background-color: gold;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.container {
    width: 380px;
    margin: 7% auto;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px #333;
}

.header {
    text-align: center;
    padding-top: 75px;
}

.header h1 {
    color: white;
    font-size: 45px;
    margin-bottom: 45px;
}

.main {
    text-align: center;
}

.main input,
button {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 15px;
    color: #333;
    margin-bottom: 40px;
}

.main span {
    position: relative;
}

.main button {
    padding-left: 0;
    background-color: #3CB371;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
}

.main button:hover {
    box-shadow: 3px 3px 10px white;
    background-color: #7799d4;
}

.main input:hover {
    box-shadow: 3px 3px 10px #555;
    background-color: #ddd;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -7%;
    max-width: 11%;
    max-height: 11%;
}